#chat-container {
    flex-grow: 1;
    height: 70vh;
    margin-bottom: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.26);
    overflow: scroll;
}

#chat-item {
    gap: 1rem;
}

#room-main {
    flex-grow: 1;
}

#chat-input {
    height: 75px;
    resize: none;
}