.navbar-main {
    background-color: var(--primary);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0 min(10%, 3rem);
}

.navbar-title {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-title > a {
    background-color: transparent;
    text-decoration: none;
}


.navbar-links {
    background-color: transparent;
    display: flex;
    gap: min(10%, 1rem);
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar-links-item {
    background-color: transparent;
}

.navbar-links-item > a {
    text-decoration: none;
    background-color: transparent;
}

